{% extends "auth_base.html" %}
{% load filters %}
{% block title %}Account Settings{% endblock %}
{% block content %}
    <div id="change-password-box" class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% load errors %}
            {% errors form %}
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Change password</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.old_password|add_attrs:"{'class':'form-control','placeholder':'Old password'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.new_password|add_attrs:"{'class':'form-control','placeholder':'New password'}" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.confirm_new_password|add_attrs:"{'class':'form-control','placeholder':'Confirm new password'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <a class="btn btn-link" href="{% url "account:recover" %}">Cancel</a>
                            <button type=" submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}