{% extends "base.html" %}
{% load filters %}
{% block title %}Sign in to your ToolShare account{% endblock %}
{% block navbar-top %}
    <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "account:signup" %}"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="signin-box" class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% load errors %}
            {% errors form %}
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Sign in to your ToolShare account</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.username|add_attrs:"{'class':'form-control','placeholder':'Email'}" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.password|add_attrs:"{'class':'form-control','placeholder':'Password'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <a class="btn btn-link" href="{% url "account:recover" %}">Forget password?</a>
                            <button type=" submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}