{% extends "base.html" %}
{% load filters %}
{% block title %}Sign up Success{% endblock %}
{% block content %}
    <div id="signup-box" class="auth-box">
        <div class="alert alert-success" role="alert">
            <strong><span class="glyphicon glyphicon-ok"></span> Almost done</strong>

            <div class="spacer-5"></div>
            We have sent an activation email. Please follow the instructions in the mail to <strong>activate</strong>
            your account.
        </div>
    </div>
{% endblock %}