{% extends "auth_base.html" %}

{% block title %}Update Profile{% endblock %}

{% load filters %}

{% block content %}
    <div id="signup-box" class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% load errors %}
            {% errors form formset %}
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Update your ToolShare account</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-6">
                            {{ form.first_name|add_attrs:"{'class':'form-control','placeholder':'First'}" }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|add_attrs:"{'class':'form-control','placeholder':'Last'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-sm-3">
                            {{ formset.apt_num|add_attrs:"{'class':'form-control','placeholder':'Apt #'}" }}
                        </div>
                        <div class="col-md-9">
                            {{ formset.street|add_attrs:"{'class':'form-control','placeholder':'Street'}" }}
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-4">
                            {{ formset.county|add_attrs:"{'class':'form-control','placeholder':'County'}" }}
                        </div>
                        <div class="col-md-8">
                            {{ formset.city|add_attrs:"{'class':'form-control','placeholder':'City'}" }}
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-8">
                            {{ formset.state|add_attrs:"{'class':'form-control'}" }}
                        </div>
                        <div class="col-md-4">
                            {{ formset.zip|add_attrs:"{'class':'form-control','placeholder':'Zip'}" }}
                        </div>
                    </div>
                    <div class="spacer-5"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Phone number</label>
                            {{ form.phone_num|add_attrs:"{'class':'form-control','placeholder':'(555) 555-5555'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Pickup arrangement</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.pickup_arrangements|add_attrs:"{'class':'form-control no-resize','rows':'2','placeholder':'Example - Please knock on my door.'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Reminders</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox">
                            <label>{{ form.send_reminders }} remind me when borrowed tools are due for return.</label>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-4">
                            <label>Security</label>

                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-link" href="{% url "account:password_change" %}">Change Password</a>
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <a class="btn btn-link" href="{% url "home" %}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}