/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/* The style of the main content container of ToolShare */
.auth-content {
    margin-left: 90px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        display: block;
        background-color: #eeeeee;
    }
}

/* Sidebar navigation */
.main-menu, .main-menu li, .sub-menu ul {
    padding: 0px;
    margin: 0px;
}

    .main-menu li {
        position: relative;
        list-style: none;
    }

    .main-menu > li {
        padding: 1px 0px;
    }

    .main-menu li a > .icon {
        width: 70px;
        height: 70px;
        padding: 13px;
        border: 1px solid transparent;
        fill: #777;
    }

    .main-menu li.active a > .icon {
        background-color: #fff;
        fill: #222;
    }

    .main-menu li:hover a > .icon {
        z-index: 60;
        position: relative;
        background-color: #fff;
        fill: #0f86dd;
    }

.sub-menu {
    z-index: 50;
    position: absolute;
    left: 69px;
    top: 1px;
    display: none;
    width: 225px;
    padding: 5px 0px 5px 25px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(42, 40, 40, 0.25);
}

    .sub-menu > ul > li {
        padding: 5px 0px 5px 0px;
    }

.main-menu li:hover .sub-menu {
    display: block;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

figcaption {
    padding-left: 5px;
    margin-top: -10px;
    font-weight: bold;
}

