/*
 * Base structure
 */
body, html {
    height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/* The style of the main content container of ToolShare */
.auth-content {
    margin-left: 55px;
    padding-left: 30px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}



.regToolBtn{
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-top: -55px;
    width: 105px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #eeeeee;
    z-index: 999;
}


/* Sidebar navigation */
.main-menu, .main-menu li, .sub-menu ul {
    padding: 0px;
    margin: 0px;
}

.main-menu li {
    position: relative;
    list-style: none;
}

.main-menu > li {
    padding: 1px 0px;
}

.main-menu li a > .icon {
    width: 70px;
    height: 70px;
    padding: 13px;
    border: 1px solid transparent;
    fill: #777;
}

.main-menu li.active a > .icon {
    background-color: #fff;
    fill: #222;
}

.main-menu li:hover a > .icon {
    z-index: 60;
    position: relative;
    background-color: #fff;
    fill: #0f86dd;
    box-shadow: -4px 0 5px 0 rgba(42, 40, 40, 0.25);
}

.sub-menu {
    z-index: 50;
    position: absolute;
    left: 69px;
    top: 1px;
    display: none;
    width: 200px;
    min-height: 70px;
    padding: 5px 0px 5px 25px;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(42, 40, 40, 0.25);
}

.sub-menu > ul {
    padding: 5px 0px 10px 0px;
}

.sub-menu > ul > li {
    padding: 10px 0px 10px 0px;
}

.sub-menu > h4 {
    padding-top:10px;
}

.main-menu li:hover .sub-menu {
    display: block;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

figcaption {
    margin-left: 5px;
    margin-top: -10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toolPaginator{
    padding-top: 50px;
}


.toolFilters {
    margin-left: auto;
    margin-right: 0px;
    width: 400px;
    margin-bottom: 20px;
}

.toolFilters > a {
    padding-left: 20px;
}

.tool_details{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.tool_details_left{
    float: left;
    margin-right: 1%;
    width: 49.5%;
    min-width: 300px;
    max-width: 520px;
    position: relative;
}

.tool_details_pic{
    width: 100%;
}

.tool_details_blackout{
    width: 100%;
    overflow-wrap: break-word;
    border-color: #c6c6c6;
}

.tool_details_blackoutdates{
    position: relative;
}

.tool_details_blackoutBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5px;
}

.tool_details_blackoutBtn > button{
    float: right;
}

.tool_details_blackoutPicker{
    max-width: 200px;
}

.tool_details_blackoutlist{
    margin-top: 25px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.tool_details_desc{
    width: 49.5%;
    float: left;
    min-width: 300px;
    max-width: 550px;
    overflow-wrap: break-word;
    height: auto;
    min-height: 520px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    font-size: 110%;
}


.tool_details_btn{
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.tool_details_status{
    position: absolute;
    right: 0;
}

.tool_details_status > span{
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 90%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.toolStatusIndicator{
    width: auto;
    float: right;
    clear: both;
    margin-bottom: -30px;
    position: relative;
    right: 1px;
    font-size: 120%;
}

.Inactive{
    opacity: .5;
}

p.tooltips {
    position: relative;
    border-radius: 20px;
    top: 2px;
    cursor: default;
    right: 1px;
}

p.tooltips span {
    position: absolute;
    width:120px;
    color: #FFFFFF;
    background: darkslategray;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    opacity: 0.7;
    bottom: 33px;
    left: -50px;
}

p.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid darkslategray;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

p:hover.tooltips span {
    visibility: visible;
}

.toolstatus{
    width:100%;
    font-size: 90%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

.suggestions{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0px 10px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    max-width: 1080px;
}

.suggestions .row > h3{
    margin: 0;
    padding: 10px 0px 10px 15px;
}

.suggestions .alert{
    margin: 10px 15px 10px 15px;
    font-size: 120%;
}