@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

.signin-box {
    background-color: #f7f7f7;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px 15px;
    width: 304px;
    border-radius: 4px;
}