<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ToolShare | Activate your ToolShare account</title>
    <style type="text/css">
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>
<div>
    <p>
        Greetings {{ user.get_full_name }},
    </p>

    <p>
        Thank you for signing up for a {{ site.name }} account. Please activate your account by clicking <a
            href="http://{{ site }}/account/activate/{{ activation_key }}/">here</a>.
    </p>

    <p>
        Alternatively, you could copy and paste the URL shown below into the address bar of your favorite web browser.
    </p>

    {# &#8203; is a zero width space to prevent email clients from showing the URL as a hyperlink #}
    <pre>   ht&#8203;tp://{{ site }}/account/activate/{{ activation_key }}/</pre>

    <p>
        Cheers,<br/>
        The ToolShare Team
    </p>
    {% if expiration_days != 0 %}
        <p>
            <strong>Note</strong>: The activation link expires in {{ expiration_days }} days.
        </p>
    {% endif %}
</div>
</body>
</html>