{% extends "email/base.html" %}
{% block title %}ToolShare | Activate your ToolShare account{% endblock %}
{% block content %}
    {% url "account:activation_mailer" activation_key as uri %}
    <p>
        Greetings {{ user.get_full_name }},
    </p>

    <p>
        Thank you for signing up for a {{ site.name }} account. Please activate your account by clicking the link
        shown
        below:
    </p>

    <p class="safe-link">
        http://{{ site }}{{ uri }}
    </p>

    <p>
        Alternatively, you could copy the link and paste it into the address bar of your favorite web browser.
    </p>

    <p>
        Cheers,<br/>
        The ToolShare Team
    </p>
    {% if expiration_days != 0 %}
        <p>
            <strong>Note</strong>: The activation link expires in {{ expiration_days }} days.
        </p>
    {% endif %}
{% endblock %}