{% extends "email/base.html" %}
{% block title %}ToolShare | Reset Password{% endblock %}
{% block content %}
    {% url "account:recovery_mailer" uidb64 token as uri %}
    <p>
        Greetings {{ user.get_full_name }},
    </p>

    <p>
        You are receiving this email because you requested to reset the password on your {{ site.name }} account.
        If you wish to proceed, please click the link shown below:
    </p>

    <p class="safe-link">
        http://{{ site }}{{ uri }}
    </p>

    <p>
        Alternatively, you could copy the link and paste it into the address bar of your favorite web browser.
    </p>

    <p>
        Cheers,<br/>
        The ToolShare Team
    </p>
{% endblock %}