<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
        body {
            font-family: 'Open Sans', sans-serif;
        }

        p.safe-link {
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
            font-size: 10pt;
        }

        .italics {
            font-style: italic;
        }
    </style>
</head>
<body>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>