{% extends "email/base.html" %}
{% url "account:activation_mailer" activation_key as uri %}
{% block title %}ToolShare | Request to Borrow Approved{% endblock %}
{% block content %}
    <p>
        Hello {{ reservation.user.get_full_name }},
    </p>
    <p>
        {{ reservation.tool.owner.get_full_name }} has approved your request to borrow {{ reservation.tool.name }}
        from {{ reservation.from_date|date }} to {{ reservation.to_date|date }}.
    </p>
    <div>
        <div>
            <h4>Tool's Location*</h4>
            {{ reservation.tool.address.get_multi_line }}
        </div>
        <span class="note">* Tool's location may change between now and when you pick it up. Please be sure to check
        {{ site }} for the most current location of the tool.</span>
    </div>
    <div>
        <div>
            <h4>Tool's Pickup Preference</h4>
            <span class="italics">{{ reservation.tool.pickupArrangement }}</span>
        </div>
    </div>
    <p>
        Cheers,<br/>
        The ToolShare Team
    </p>
{% endblock %}