{% extends "email/base.html" %}
{% block title %}ToolShare | Request to Borrow your Tool{% endblock %}
{% block content %}
    <p>
        Hello {{ reservation.tool.owner.get_full_name }},
    </p>
    <p>
        {{ reservation.user.get_full_name }} has requested to borrow your {{ reservation.tool.name }}
        from {{ reservation.from_date|date }} to {{ reservation.to_date|date }}. Please sign in to ToolShare to approve
        (or reject)* this request.
    </p>
    <span class="note">* If the request is not approved (or rejected) before {{ reservation.from_date|date }}, it will be
        automatically rejected.
    </span>
    <p>
        Cheers,<br/>
        The ToolShare Team
    </p>
{% endblock %}