{% extends "auth_base.html" %}
{% load staticfiles %}
{% block title %}{{ shed }} Details{% endblock %}
{% block ShedsNav %} active {% endblock %}
{% block auth-content %}
    <h1 class="page-header">{{ shed }} Details</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <strong>Owner</strong>
            </div>
            <div class="col-md-10">
                {{ shed.owner.get_full_name }}
            </div>
        </div>
        <div class="spacer-5"></div>
        <div class="row">
            <div class="col-md-2">
                <strong>Registered On</strong>
            </div>
            <div class="col-md-10">
                {{ shed.registered_on|date }}
            </div>
        </div>
        <div class="spacer-5"></div>
        <div class="row">
            <div class="col-md-2">
                <strong>Address</strong>
            </div>
            <div class="col-md-10">
                {{ shed.address.get_multi_line }}
            </div>
        </div>
        {% if request.user == shed.owner %}
            <form action="{% url 'shed:delete' shed.pk %}" method="POST">
                {% csrf_token %}
                <div id="confirm-modal" class="modal fade in" aria-hidden="false" aria-labelledby="confirm"
                     role="dialog"
                     tabindex="-1">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 id="myModalLabel" class="modal-title">Delete Community Shed</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to <strong>delete</strong> this community shed?
                            </div>
                            <div class="modal-footer">
                                <button type="button" aria-hidden="true" data-dismiss="modal" class="btn btn-link">No
                                </button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row pull-right">
                <div class="col-md-12">
                    <a href="{% url "shed:update" shed.pk %}" class="btn btn-primary">Update</a>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#confirm-modal">
                        Delete
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="spacer-25"></div>

    <div class="container">
        <div class="spacer-25"></div>
        <h4>Tools In This Community Shed</h4>

        <div class="row">
            {% if tools %}
                {% for tool in tools %}
                    <div class="toolList">
                        <div>
                            <div class="col-sm-2">
                                <div class="toolStatusIndicator">
                                    {% if tool.status == 'D' %}
                                        <p class="tooltips label label-danger">D<span>Tool deactivated</span></p>
                                    {% elif tool.status == 'L' %}
                                        <p class="tooltips label label-warning">L<span>Tool is lent out</span></p>
                                    {% else %}
                                        <p class="tooltips label label-success">A<span>Tool is active</span></p>
                                    {% endif %}
                                </div>
                                <figure>
                                    <div id="toolThumbnail">
                                        <a href="{% url "toolManagement:viewTool" tool.id %}" class="thumbnail">
                                            <img class="img-square" src="{{ tool.picture.url }}" alt="{{ tool.name }}"/>
                                        </a>
                                    </div>
                                    <figcaption>{{ tool.name }}</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-info">
                        There are no tools in the community shed.
                    </div>
                </div>
            {% endif %}
        </div>
        {% if tools.paginator.num_pages > 1 %}
            <div class="row text-center toolPaginator">
                <div class="col-sm-12">
                    <ul class="pagination">
                        <li>
                            <a href="?page=1"> &laquo; First Page </a>
                        </li>
                        {% if tools.has_previous %}
                            <li>
                                <a href="?page={{ tools.previous_page_number }}"> &lsaquo; Previous </a>
                            </li>
                        {% else %}
                            <li>
                                <a href=""> &lsaquo; Previous </a>
                            </li>
                        {% endif %}

                        <li>
                            <a class="pageTracker"> Page {{ tools.number }} of {{ tools.paginator.num_pages }} </a>
                        </li>

                        {% if tools.has_next %}
                            <li>
                                <a href="?page={{ tools.next_page_number }}"> Next &rsaquo; </a>
                            </li>
                        {% else %}
                            <li>
                                <a href=""> Next &rsaquo; </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="?page={{ tools.paginator.num_pages }}"> Last Page &raquo; </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="spacer-25"></div>
{% endblock %}

