{% extends "base.html" %}

{% load staticfiles %}

{% block navbar-right %}
    <div id="navbar-collapse" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li><a href="/browsetool" class="navbar-link"><span class="glyphicon glyphicon-search"></span> Browse tools</a>
            </li>
            <li><a href="/profile" class="navbar-link"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
            <li>
                <form action="{% url "account:signout" %}" method="POST" class="navbar-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">
                        <span class="glyphicon glyphicon-log-out"></span> Sign out
                    </button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">My tools</a></li>
                <li><a href="#">My sheds</a></li>
                <li><a href="/reservation">My requests</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

