{% extends "auth_base.html" %}
{% block title %}Home{% endblock %}

{% block auth-content %}
    <h1 class="page-header">Homepage</h1>



    <div class="container">
        <div class="row">
            {% if not tools and not shed and not returned and not coming %}
                <div class="alert alert-info" role="alert">
                    No recent activity in your community.
                </div>
            {% endif %}
            {% if tools %}
                <h3 class="sub-header">Recently Added Tools</h3>
                <table class="table table-striped">
                    <!--<thead>

                     <tr>
                         <th>Tool Name</th>
                         <th>Location</th>
                     </tr>
                     </thead>
                     -->
                    <tbody>


                    {% for u1 in tools %}

                        {% if forloop.counter %}
                            <!--<tr>
                    <td>{{ u1.name }}</td>
                    <td>{{ u1.location }}</td>
                </tr>-->
                            <div class="toolList">
                                <div class="col-sm-2">
                                    <figure>
                                        <div id="toolThumbnail">

                                            <a href="{% url "toolManagement:viewTool" u1.id %}" class="thumbnail">
                                                <div class="tool_status_label">
                                                    {% if u1.get_days_until_available == 0 %}
                                                        <span class="label label-success toolstatus"> Available </span>
                                                        <span class="tooltips">Tool is available!</span>
                                                    {% elif u1.get_days_until_available == 1 %}
                                                        <span class="label label-warning toolstatus"> {{ ul.get_next_available_date }} </span>
                                                        <span class="tooltips">Tool will be available starting tomorrow!</span>
                                                    {% elif u1.get_days_until_available > 1 %}
                                                        <span class="label label-warning toolstatus"> {{ ul.get_next_available_date }} </span>
                                                        <span class="tooltips">Tool will be available in {{ u1.get_days_until_available }} days!</span>
                                                    {% endif %}
                                                </div>
                                                <img class="img-square" src="{{u1.picture.url}}" alt="{{u1.name}}">
                                            </a>

                                        </div>
                                        <figcaption>{{u1.name}}</figcaption>
                                    </figure>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>


    <div class="container">
        <div class="row">


            {% if shed %}
                <div class="spacer-20"></div>
                <h3 class="sub-header">Recently Added Sheds</h3>
                <table class="table table-striped">

                    <thead>

                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <!--<th>Date Created</th>-->
                    </tr>
                    </thead>

                    <tbody>
                    {% for u1 in shed %}

                        {% if forloop.counter %}
                            <tr>
                                <td>{{ u1.name }}</td>
                                <td>{{u1.address.get_single_line}}</td>
                                <!-- <td>{{ u1.dateCreated }}</td>-->
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>


                </table>
            {% else %}
            {% endif %}
        </div>
    </div>



    <div class="container">
        <div class="row">


            {% if returned %}
                <div class="spacer-20"></div>
                <h3 class="sub-header">Tools that are to be returned by me</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tool Name</th>
                        <th>Due</th>
                        <th>Number of days Left</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u1 in returned %}
                        <tr {%  if u1.diff < 0 %}
                            style="color: red; font-weight: bold"
                        {%  elif u1.diff == 0 %}
                            style="font-weight: bold"
                        {% endif %}>
                            <td>{{ u1.tool.name }}</td>
                            <td>{{ u1.to_date }}</td>
                            {%  if u1.diff < -1 %}
                                <td>{{ u1.diff|stringformat:"+d"|slice:"1:" }} DAYS OVERDUE!!!</td>
                            {%  elif u1.diff == -1 %}
                                <td>1 DAY OVERDUE!!</td>
                            {%  elif u1.diff == 0 %}
                                <td>DUE TODAY!</td>
                            {% else %}
                                <td>{{ u1.diff }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>


    <div class="container">
        <div class="row">


            {% if coming %}
                <div class="spacer-20"></div>
                <h3 class="sub-header">Tools that are to be returned to me</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tool Name</th>
                        <th>Due</th>
                        <th>Number of days Left</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u1 in coming %}
                        <tr {%  if u1.diff < 0 %}
                            style="color: red; font-weight: bold"
                        {%  elif u1.diff == 0 %}
                            style="font-weight: bold"
                        {% endif %}>
                            <td>{{ u1.tool.name }}</td>
                            <td>{{ u1.to_date }}</td>
                            {%  if u1.diff < -1 %}
                                <td>{{ u1.diff|stringformat:"+d"|slice:"1:" }} DAYS OVERDUE!!!</td>
                            {%  elif u1.diff == -1 %}
                                <td>1 DAY OVERDUE!!</td>
                            {%  elif u1.diff == 0 %}
                                <td>DUE TODAY!</td>
                            {% else %}
                                <td>{{ u1.diff }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>

{% endblock %}
