{% extends "auth_base.html" %}
{% block title %}Home{% endblock %}

{% block auth-content %}
    <h1 class="page-header">Homepage</h1>



    <div class="container">
        <div class="row">
            {% if not tools and not shed and not returned and not coming %}
                <div class="alert alert-info" role="alert">
                    No recent activity in your community.
                </div>
            {% endif %}
            {% if tools %}
                <h3 class="sub-header">Recently Added Tools</h3>

                {% for tool in tools %}

                    <div class="toolList">
                        <div class="col-sm-2">
                            <figure>
                                <div id="toolThumbnail">
                                    <a href="{% url "toolManagement:viewTool" tool.id %}" class="thumbnail">
                                        <div class="tool_status_label">
                                            <span class="label {{ tool.get_label_type_borrower }} toolstatus"> {{ tool.get_status_label_borrower }} </span>
                                            {% if tool.get_days_until_available == 1 %}
                                                <span class="tooltips">Tool will be available starting tomorrow!</span>
                                            {% elif tool.get_days_until_available > 1 %}
                                                <span class="tooltips">Tool will be available in {{ tool.get_days_until_available }} days!</span>
                                            {% endif %}
                                        </div>
                                        <img class="img-square" src="{{tool.picture.url}}" alt="{{tool.name}}">
                                    </a>

                                </div>
                                <figcaption>{{tool.name}}</figcaption>
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <div class="container">
        <div class="row">


            {% if shed %}
                <div class="spacer-20"></div>
                <h3 class="sub-header">Recently Added Sheds</h3>
                <table class="table table-striped">

                    <thead>

                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <!--<th>Date Created</th>-->
                    </tr>
                    </thead>

                    <tbody>
                    {% for u1 in shed %}

                        {% if forloop.counter %}
                            <tr>
                                <td>{{ u1.name }}</td>
                                <td>{{u1.address.get_single_line}}</td>
                                <!-- <td>{{ u1.dateCreated }}</td>-->
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>


                </table>
            {% else %}
            {% endif %}
        </div>
    </div>



    <div class="container">
        <div class="row">


            {% if returned %}
                <div class="spacer-20"></div>
                <h3 class="sub-header">Tool Return Reminders</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tool Name</th>
                        <th>Due</th>
                        <th>Number of days Left</th>
                        <th>Return Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u1 in returned %}
                        <tr {%  if u1.diff < 0 %}
                            style="color: red; font-weight: bold"
                        {%  elif u1.diff == 0 %}
                            style="font-weight: bold"
                        {% endif %}>
                            <td>{{ u1.tool.name }}</td>
                            <td>{{ u1.to_date }}</td>
                            {%  if u1.diff < -1 %}
                                <td>{{ u1.diff|stringformat:"+d"|slice:"1:" }} DAYS OVERDUE!!!</td>
                            {%  elif u1.diff == -1 %}
                                <td>1 DAY OVERDUE!!</td>
                            {%  elif u1.diff == 0 %}
                                <td>DUE TODAY!</td>
                            {% else %}
                                <td>{{ u1.diff }}</td>
                            {% endif %}

                            {%  if u1.tool.location == "S"%}
                                <td>{{ u1.tool.shed.address.get_single_line }}</td>
                            {% else %}
                                <td>{{ u1.tool.owner.address.get_single_line }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>


    <div class="container">
        <div class="row">


            {% if coming %}
                <div class="spacer-20"></div>
                <h3 class="sub-header">Tool Reclaim Reminders</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tool Name</th>
                        <th>Borrowed by</th>
                        <th>Expected Back</th>
                        <th>Number of days Left</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u1 in coming %}
                        <tr {%  if u1.diff < 0 %}
                            style="color: red; font-weight: bold"
                        {%  elif u1.diff == 0 %}
                            style="font-weight: bold"
                        {% endif %}>
                            <td>{{ u1.tool.name }}</td>
                            <td>{{ u1.user.get_full_name }}</td>
                            <td>{{ u1.to_date }}</td>
                            {%  if u1.diff < -1 %}
                                <td>{{ u1.diff|stringformat:"+d"|slice:"1:" }} DAYS OVERDUE!!!</td>
                            {%  elif u1.diff == -1 %}
                                <td>1 DAY OVERDUE!!</td>
                            {%  elif u1.diff == 0 %}
                                <td>DUE TODAY!</td>
                            {% else %}
                                <td>{{ u1.diff }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>

{% endblock %}
