<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block meta_tags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <title>{% block title %}Welcome to ToolShare{% endblock %}</title>

    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="{% static "styles/global.css" %}" rel="stylesheet"/>
        <link href="{% static "styles/bootstrap-overrides.css" %}" rel="stylesheet"/>
    {% endblock %}


    {% block javascript %}
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static "scripts/global.js" %}"></script>

        {% if messages %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#modal').modal();
                });
            </script>
        {% endif %}
    {% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script type="text/javascript" src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>

    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% block brand-link %}/{% endblock %}">ToolShare</a>
        </div>
        {% block navbar-top %}
        {% endblock %}
    </div>
</nav>
{% if messages %}
    <div id="modal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            {% for message in messages %}
                {% if 'danger' in message.tags %}
                    <div class="alert alert-danger message-alert" role="alert">
                    <span class="message-icon danger">
                                <svg version="1.1" id="danger-icon" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.438 19.437"
                                    style="enable-background:new 0 0 19.438 19.437;" xml:space="preserve">
                                    <polygon points="9.72,13.348 15.807,19.437 19.436,15.808 13.349,9.721 19.438,3.632 15.807,0 9.718,6.089 3.63,0 0.001,3.629 6.089,9.718 0,15.806 3.631,19.437 "/>
                                </svg>
                        </span>
                    <strong>Aw, snap!</strong>
                {% elif 'warning' in message.tags %}
                    <div class="alert alert-warning message-alert" role="alert">
                    <span class="message-icon warning">
                            <svg version="1.1" id="warning-icon" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                enable-background="new 0 0 100 100" xml:space="preserve">
                                <g>
                                    <path d="M62.635,2.318c-0.377-0.387-0.894-0.605-1.434-0.605H38.799c-0.54,0-1.057,0.219-1.434,0.605s-0.58,0.91-0.565,1.45 l1.68,60.798c0.029,1.082,0.916,1.944,1.999,1.944h19.046c1.083,0,1.97-0.862,1.999-1.945L63.2,3.768 C63.215,3.229,63.012,2.705,62.635,2.318z" />
                                    <path d="M59.485,76.747H40.517c-1.104,0-2,0.896-2,2v17.54c0,1.104,0.896,2,2,2h18.969c1.104,0,2-0.896,2-2v-17.54 C61.485,77.643,60.59,76.747,59.485,76.747z" />
                                </g>
                            </svg>
                        </span>
                    <strong>Aw, snap!</strong>
                {% elif 'info' in message.tags %}
                    <div class="alert alert-info message-alert" role="alert">
                    <span class="message-icon info">
                            <svg version="1.1" id="info-icon" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46 100"
                                 style="enable-background:new 0 0 46 100;" xml:space="preserve">
                                <g>
                                    <path d="M35.162,0c6.696,0,10.043,4.567,10.043,9.789c0,6.522-5.814,12.555-13.391,12.555c-6.344,0-10.045-3.752-9.869-9.947 C21.945,7.176,26.35,0,35.162,0z M14.543,100c-5.287,0-9.164-3.262-5.463-17.615l6.07-25.457c1.057-4.077,1.23-5.707,0-5.707 c-1.588,0-8.451,2.816-12.51,5.59L0,52.406C12.863,41.48,27.662,35.072,34.004,35.072c5.285,0,6.168,6.361,3.525,16.148L30.58,77.98c-1.234,4.729-0.703,6.359,0.527,6.359c1.586,0,6.787-1.963,11.896-6.041L46,82.377C33.488,95.1,19.83,100,14.543,100z" />
                                </g>
                            </svg>
                        </span>
                    <strong>Information</strong>
                {% elif 'success' in message.tags %}
                    <div class="alert alert-success message-alert" role="alert">
                    <span class="message-icon success">
                            <svg version="1.1" id="success-icon" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                 enable-background="new 0 0 512 512" xml:space="preserve">
                                <path d="M432,64L192,304L80,192L0,272l192,192l320-320L432,64z"/>
                            </svg>
                        </span>
                    <strong>Success</strong>
                {% endif %}
            <div class="spacer-5"></div>
            <div class="messages">
                {% if 'safe' in message.tags %}
                    {{ message|safe }}
                {% else %}
                    {{ message }}
                {% endif %}
            </div>
            </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <div class="text-center" style="font-size: 16px"><a href="."> [Dismiss] </a> </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{% endif %}
<div class="container-fluid">
    {% block navbar-side %}{% endblock %}
    {% block content %}{% endblock %}
</div>
{% block tail-scripts %}
{% endblock %}
</body>
</html>