{% extends "auth_base.html" %}
{% load filters %}
{% block title %}Request To Borrow{% endblock %}
{# TODO: Activate depending on the page user was on when visiting this page #}
{% block BrowseNav %} active {% endblock %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "scripts/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/init-datepicker.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            init_datepicker('{{ form.from_date.auto_id }}', '{{ form.to_date.auto_id }}',
                    {{ form.unavailable_dates|safe }});
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static "styles/datepicker3.css" %}" rel="stylesheet"/>
{% endblock %}
{% block auth-content %}
    <h1 class="page-header">Borrow Tool</h1>
    <div id="borrow-tool" class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% load errors %}
            {% errors form %}
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Request to Borrow {{ form.tool.name }}</h3>
                        </div>
                    </div>
                    <div class="spacer-25"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>From</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.from_date|add_attrs:"{'class':'form-control datepicker','placeholder':'mm/dd/yyyy'}" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>To</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.to_date|add_attrs:"{'class':'form-control datepicker','placeholder':'mm/dd/yyyy'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <a class="btn btn-link" href="{% url "toolManagement:viewTool" form.tool.id %}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Borrow</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
