{% extends "auth_base.html" %}
{% load filters %}

{% block title %}Request To Borrow{% endblock %}

{% block BrowseNav %} active {% endblock %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "scripts/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript">
        var unavailable_dates = {{ form.unavailable_dates|safe }};

        $(document).ready(function () {
            $('.datepicker').datepicker({autoclose: true, beforeShowDay: onBeforeShowDay, startDate: new Date()});

            $('#{{ form.from_date.auto_id }}').datepicker()
                    .on('changeDate', function (e) {
                        $('#{{ form.to_date.auto_id }}')
                                .datepicker('setStartDate', $('#{{ form.from_date.auto_id }}').val());
                    });
        });

        function onBeforeShowDay(date) {
            for (var index = 0; index < unavailable_dates.length; index++) {
                sd = new Date(unavailable_dates[index].start);
                ed = new Date(unavailable_dates[index].end);
                if (sd <= date && date <= ed) {
                    return {'enabled': false, 'classes': 'unavailable', 'tooltip': 'Tool is not available on this day.'};
                }
            }
            return {'enabled': true, 'classes': '', 'tooltip': ' '};
        }
    </script>
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static "styles/datepicker3.css" %}" rel="stylesheet"/>
{% endblock %}
{% block head %}
    <style type="text/css">
        .unavailable {
            color: #a94442 !important;
            opacity: 0.5;
        }
    </style>
{% endblock %}
{% block auth-content %}
    <h1 class="page-header">Borrow Tool</h1>
    <div id="borrow-tool" class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% load errors %}
            {% errors form %}
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Request to Borrow {{ form.tool.name }}</h3>
                        </div>
                    </div>
                    <div class="spacer-25"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>From</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.from_date|add_attrs:"{'class':'form-control datepicker','placeholder':'mm/dd/yyyy'}" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>To</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.to_date|add_attrs:"{'class':'form-control datepicker','placeholder':'mm/dd/yyyy'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <a class="btn btn-link" href="{% url "toolManagement:viewTool" form.tool.id %}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Borrow</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
