{% extends "auth_base.html" %}

{% block title %}Request To Borrow{% endblock %}
        <!-- cdn for modernizr, if you haven't included it already -->


{% block BrowseNav %} active {% endblock %}

{% block auth-content %}
    <h1 class="page-header">Please enter details for Borrowing Tools </h1>

    <div id="Fill in-box" class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% if success %}
                <div class="alert alert-success" role="alert">
                    <p><strong>Done,</strong> your request was successfully submitted.</p>
                </div>
            {% endif %}
            {% if form.empty %}
                <div class="alert alert-danger" role="alert"><strong>Oh.. ,</strong> Please enter a date to borrow.
                </div>{% endif %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert"><strong>Oh.. ,</strong> there were errors.
                </div>{% endif %}



            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container">

            </div>
                        <div class="col-md-12">
                            <h3>Fill up for borrowing tool</h3>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="from_date">From Date</label>
                            <input type="text" id="datepicker" class="form-control" name="from_date" id="from_date"
                                   placeholder="From Date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="to_date">To Date</label>
                            <input type="date" class="form-control" name="to_date" id="to_date"
                                   placeholder="To Date">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Borrow</button>
        </form>
    </div>
{% endblock %}
