{% extends "auth_base.html" %}

{% block title %}Browse Tools{% endblock %}

{% block BrowseNav %} active {% endblock %}

{% block auth-content %}
    <h1 class="page-header">Browse Tools</h1>

    <h3 class="sub-header">Available tools in your community</h3>


    <div class="container">
        <div class="row">
            {% for tool in toolsList %}
                <div class="toolList">
                    <div class="col-sm-2">
                        <figure>
                            <div id="toolThumbnail">
                                <a href="{% url "toolManagement:viewTool" tool.0.id%}" class="thumbnail">
                                    <div class="tool_status_label">
                                        <span class="label {{ tool.0.get_label_type_borrower }} toolstatus"> {{ tool.0.get_status_label_borrower }} </span>
                                        {% if tool.1 == 1 %}
                                            <span class="tooltips">Tool will be available starting tomorrow!</span>
                                        {% elif tool.1 > 1 %}
                                            <span class="tooltips">Tool will be available in {{ tool.1 }} days!</span>
                                        {% endif %}
                                    </div>
                                    <img class="img-square" src="{{tool.0.picture.url}}" alt="{{tool.0.name}}">
                                </a>
                            </div>
                            <figcaption>{{tool.0.name}}</figcaption>
                        </figure>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    There are no tools being shared in your community.
                </div>
            {% endfor %}
        </div>
    </div>

    {% if toolsList.paginator.num_pages >  1 %}
        <div class="row text-center toolPaginator">
            <div class="col-sm-12">
                <ul class="pagination">
                    <li>
                        <a href="?page=1"> &laquo; First Page </a>
                    </li>
                    {% if toolsList.has_previous %}
                        <li>
                            <a href="?page={{ toolsList.previous_page_number }}"> &lsaquo; Previous </a>
                        </li>
                    {% else %}
                        <li>
                            <a href=""> &lsaquo; Previous </a>
                        </li>
                    {% endif %}

                    <li>
                        <a class = "pageTracker"> Page {{ toolsList.number }} of {{ toolsList.paginator.num_pages }} </a>
                    </li>

                    {% if toolsList.has_next %}
                        <li>
                            <a href="?page={{ toolsList.next_page_number }}"> Next &rsaquo; </a>
                        </li>
                    {% else %}
                        <li>
                            <a href=""> Next &rsaquo; </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="?page={{ toolsList.paginator.num_pages }}"> Last Page &raquo; </a>
                    </li>
                </ul>
            </div>
        </div>

        </div>
    {% endif %}
{% endblock %}