{% extends "auth_base.html" %}

{% block title %}Browse Tools{% endblock %}

{% block BrowseNav %} active {% endblock %}

{% block auth-content %}
    <h1 class="page-header">Browse Tools</h1>

    <h3 class="sub-header">Available tools in your community</h3>


    <div class="container">
        <div class="row">
            {% for tool in toolsList %}
                <div class="toolList">
                    <div class="col-sm-2">
                        <div class="toolStatusIndicator">
                            {% if tool.status == 'D' %}
                                <p class="tooltips label label-danger">D<span>Tool deactivated</span></p>
                            {% elif tool.status == 'L' %}
                                <p class="tooltips label label-warning">L<span>Currently lent out</span></p>
                            {% else %}
                                <p class="tooltips label label-success">A<span>Tool available!</span></p>
                            {% endif %}
                        </div>
                        <figure>
                            <div id="toolThumbnail">
                                <a href="{% url "toolManagement:viewTool" tool.id%}" class="thumbnail">
                                    <img class="img-square" src="{{tool.picture.url}}" alt="{{tool.name}}">
                                </a>
                            </div>
                            <figcaption>{{tool.name}}</figcaption>
                        </figure>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    There are no tools being shared in your community.
                </div>
            {% endfor %}
        </div>
    </div>

    {% if toolsList.paginator.num_pages >  1 %}
        <div class="row text-center toolPaginator">
            <div class="col-sm-12">
                <ul class="pagination">
                    <li>
                        <a href="?page=1"> &laquo; First Page </a>
                    </li>
                    {% if toolsList.has_previous %}
                        <li>
                            <a href="?page={{ toolsList.previous_page_number }}"> &lsaquo; Previous </a>
                        </li>
                    {% else %}
                        <li>
                            <a href=""> &lsaquo; Previous </a>
                        </li>
                    {% endif %}

                    <li>
                        <a class = "pageTracker"> Page {{ toolsList.number }} of {{ toolsList.paginator.num_pages }} </a>
                    </li>

                    {% if toolsList.has_next %}
                        <li>
                            <a href="?page={{ toolsList.next_page_number }}"> Next &rsaquo; </a>
                        </li>
                    {% else %}
                        <li>
                            <a href=""> Next &rsaquo; </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="?page={{ toolsList.paginator.num_pages }}"> Last Page &raquo; </a>
                    </li>
                </ul>
            </div>
        </div>

        </div>
    {% endif %}
{% endblock %}