{% extends "auth_base.html" %}

{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static "scripts/holder.js" %}"></script>
{% endblock %}

{% block ToolsNav %} active {% endblock %}

{% block auth-content %}
    <h1 class="page-header">Toolbox</h1>

    <h2 class="sub-header">My tools</h2>

    <div class="container">
        {% if homeTools %}
            {% for tool in homeTools %}
                <div class="col-md-2">
                    <figure>
                        <a href="../tool/{{ tool.id }}">
                            <img class="img-square" src="{{tool.picture.url}}" alt="{{tool.name}}"style="width: 150px; height: 150px;"/>
                        </a>
                        <figcaption>{{tool.name}}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

