{% if has_errors %}
    <div class="alert alert-danger" role="alert"><strong>Aw, snap!</strong>

        <div class="spacer-5"></div>
        {% if form_errors %}
            {% for error in form_errors %}
                <div>
                    {% for error in error.errors %}{{ error }}{% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        {% if field_errors %}
            <div class="spacer-5"></div>
            <div>
                {% for error in field_errors %}
                    <div>
                        <strong>{{ error.name }}</strong> {% for error in error.errors %}{{ error }}{% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}