{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "styles/carousel.css" %}"/>
{% endblock %}
{% block navbar-top %}
    <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "account:signin" %}"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
            <li><a href="{% url "account:signup" %}"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>

        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-color: #A7A4F3;">
                <img src="{% static "images/community.png" %}" alt="Community"/>

                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="color: black;">Community</h1>
                    </div>
                </div>
            </div>
            <div class="item" style="background-color: #A4E7F3;">
                <img src="{% static "images/tools.png" %}" alt="Tools"/>

                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="color: white;">Tools</h1>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="item" style="background-color: #F3A4A4;">
                <img src="{% static "images/sharing.png" %}" alt="Sharing"/>

                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="color: black;">Sharing</h1>

                        <p style="color: #8C8C8C;"></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="{% static "images/shovel.png" %}" alt="Shovel" class="img-circle"
                     style="width: 150px; height: 150px;"/>

                <h2>Are you winter ready?</h2>

                <p>Recently moved to a snowy city from California, or Hawaii? Need a shovel for the winter? We've got
                    you covered. <a href="{% url "account:signup" %}">Sign up</a> today, and be winter ready.
                </p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="{% static "images/spanner.png" %}" alt="Spanner" class="img-circle"
                     style="width: 150px; height: 150px;"/>

                <h2>Got tools rusting?</h2>

                <p>Are tools rusting in your garage? <a href="{% url "account:signup" %}">Sign up</a> today, there may be
                    someone in your community looking for a tool that you are not using.</p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="{% static "images/connections.png" %}" alt="Connections" class="img-circle"
                     style="width: 150px; height: 150px;"/>

                <h2>Want to meet new people?</h2>

                <p>Sharing helps a community grow organically. As an incentive you get to meet new people, build
                    connections, and much much more...</p>
            </div>
        </div>
    </div>
{% endblock %}