<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    {% load staticfiles%}
    <link href="{% static 'styles/global.css' %}" rel="stylesheet" />
</head>
<body>
    <div style="text-align: center;">
        <h1>Tool Share</h1>
        <h2>Brought to you by <mark>Django Untrained</mark></h2>
        <br /><br /><br /><br /><br />
        <p>{{ message }}</p>
    </div>
</body>
</html>