{% extends "auth_base.html" %}

{% block title %}Present Statistics{% endblock %}

{% block CommStatsNav %} active {% endblock %}

{% block auth-content %}
    <h1 class="page-header">Community Statistics</h1>
        <div class="container">
            <div class="row">
                 <div class="col-lg-4">
                     {% if reservations %}
            <h2 class="sub-header">Popular Tools</h2>


            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Tool Name</th>


                </tr>
                </thead>

                <tbody>
                {% for tool in reservations %}
                <tr>
                    <td>{{ tool.name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                {% else %}
            <div class="alert alert-info" role="alert">
                There is no popular tool data to show for your community.
            </div>
        {% endif %}
                </div>

             <div class="col-lg-4">
                 {% if borrower_list %}
            <h2 class="sub-header">Active Borrowers</h2>
            <table class="table table-striped">
               <thead>

                <tr>
                    <th>Borrower Name</th>


                </tr>
                </thead>
                 <tbody>
                {% for u1 in borrower_list %}
                <tr>
                    <td>{{ u1.first_name }}</td>
                </tr>
                {% endfor %}
                </tbody>

                
            </table>
                 {% else %}
            <div class="alert alert-info" role="alert">
                There are no active borrowers in your community.
            </div>
        {% endif %}
             </div>

             <div class="col-lg-4">
                 {% if lender_list %}
            <h2 class="sub-header">Active Lenders</h2>
            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Lender Name</th>


                </tr>
                </thead>

                <tbody>
                {% for u1 in lender_list %}
                <tr>
                    <td>{{ u1.first_name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                 {% else %}
            <div class="alert alert-info" role="alert">
                There are no active lenders in your community.
            </div>
        {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}


