{% extends "base.html" %}
{% load filters %}
{% block title %}Update Profile{% endblock %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "styles/dashboard.css" %}"/>
    <script src="{% static "scripts/holder.js" %}"></script>
{% endblock %}
{% block brand-link %}
    {% url "dashboard" %}
{% endblock %}
{% block navbar-right %}
    <div id="navbar-collapse" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li><a href="{% url "browsetool" %}" class="navbar-link"><span class="glyphicon glyphicon-search"></span> Browse tools</a>
            </li>
            <li><a href="{% url "profile" %}" class="navbar-link"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
            <li><a href="{% url "account:signout" %}" class="navbar-link"><span class="glyphicon glyphicon-log-out"></span> Sign
                out</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url "dashboard" %}">My tools</a></li>
                <li><a href="#">My sheds</a></li>
                <li><a href="{% url "reservation" %}">My requests</a></li>
            </ul>
        </div>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Update your Profile</h1>
    </div>
    <div class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert"><strong>Uh oh,</strong> there were errors.
                </div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert"><strong>Done, </strong>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Update your profile</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-6{% if form.first_name.errors %} has-error{% endif %}">
                            {{ form.first_name|add_attrs:"{'class':'form-control','placeholder':'First'}" }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|add_attrs:"{'class':'form-control','placeholder':'Last'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-sm-3">
                            {{ form.apt_num|add_attrs:"{'class':'form-control','placeholder':'Apt #'}" }}
                        </div>
                        <div class="col-md-9{% if form.street.errors %} has-error{% endif %}">
                            {{ form.street|add_attrs:"{'class':'form-control','placeholder':'Street'}" }}
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-4">
                            {{ form.county|add_attrs:"{'class':'form-control','placeholder':'County'}" }}
                        </div>
                        <div class="col-md-8{% if form.city.errors %} has-error{% endif %}">
                            {{ form.city|add_attrs:"{'class':'form-control','placeholder':'City'}" }}
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-8">
                            {{ form.state|add_attrs:"{'class':'form-control'}" }}
                        </div>
                        <div class="col-md-4{% if form.zip.errors %} has-error{% endif %}">
                            {{ form.zip|add_attrs:"{'class':'form-control','placeholder':'Zip'}" }}
                        </div>
                    </div>
                    <div class="spacer-5"></div>
                    <div class="row">
                        <div class="col-md-12{% if form.phone_num.errors %} has-error{% endif %}">
                            <label>Phone number</label>
                            {{ form.phone_num|add_attrs:"{'class':'form-control','placeholder':'(555) 555-5555'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row">
                        <div class="col-md-12{% if form.email.errors %} has-error{% endif %}">
                            <label>Email</label>
                            {{ form.email|add_attrs:"{'class':'form-control','placeholder':'Email'}" }}
                        </div>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Pickup arrangement</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.pickup_arrangements|add_attrs:"{'class':'form-control no-resize','rows':'2','placeholder':'Example - Please knock on my door.'}" }}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
    </div>
{% endblock %}