{% extends "base.html" %}
{% load filters %}
{% block brand-link %}/dashboard{% endblock %}
{% block content %}
    <div class="auth-box">
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert"><strong>Uh oh,</strong> there were errors.
                </div>
            {% endif %}
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Register a Tool</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Upload a picture of the tool</label>
                            <label>Name of the tool</label>
                            <label>Please add a detailed description of the tool</label>


                        </div>



            <button type="submit" class="btn btn-primary btn-block">Register Tool</button>
            <a href="/dashboard" class="btn btn-danger btn-block" role="button">Cancel</a>
        </form>
    </div>
{% endblock %}