{% extends "base.html" %}
{% load filters %}
{% block brand-link %}/dashboard{% endblock %}
{% block title %}Register Tool{% endblock %}
{% block content %}
    <div class="auth-box">
        <form enctype="multipart/form-data" action="." method="post">
            {% csrf_token %}

            {% if tool_added %}
                <div class="alert alert-success" role="alert">
                    <p><strong>Congratulations!</strong> You have registered a new tool. </p>
                    <p><a href="{% url "dashboard" %}">Return to your dashboard</a> or add another tool.</p>
                </div>
            {% endif %}

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please make sure you have uploaded a picture and filled in all the fields before registering.
                </div>
            {% endif %}

            <div class="form-group">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12"><h3>Register a Tool</h3></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label for="id_picture">Upload a picture of the tool</label>
                            {{ form.picture}}
{#                            {% if tool.picture %}#}
{#                            <p><img src="/media/toolpics/{{ tool.picture }}" width = "200"/></p>#}
{#                            {% endif %}#}

                            <div class="spacer-20"></div>

                            <label for="id_name">Enter the name of your tool</label>
                            {{ form.name|add_attrs:"{'class':'form-control','rows':'2','placeholder':'Example: Scissor'}" }}

                            <div class="spacer-20"></div>

                            <label for="id_category">Please select the appropriate category for your tool</label>
                            {{ form.category }}

                            <div class="spacer-20"></div>

                            <label for="id_location">Where would you like the tool to be shared from?</label>
                            {{ form.location }}

                            <div class="spacer-20"></div>

                            <label>Please add a detailed description of the tool</label>
                            {{ form.description|add_attrs:"{'class':'form-control no-resize','rows':'2','placeholder':'Please provide a description of your tool.'}" }}


                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register Tool</button>
            <a href="/dashboard" class="btn btn-danger btn-block" role="button">Cancel</a>
        </form>
    </div>
{% endblock %}