{% extends "auth_base.html" %}

{% load staticfiles %}

{% block title %}Add New Tool{% endblock %}

{% block ToolsNav %} active {% endblock %}

{% load filters %}

{% block javascript %}
    {{ block.super }}
    <script>
        function imagePreview(fileInput) {
            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/;
                if (!file.type.match(imageType)) {
                    continue;
                }
                var img=document.getElementById("thumbnail");
                var toolPreview=document.getElementById("toolThumbnail");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function(aImg) {
                    return function(e) {
                        toolPreview.style.display = "block";
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
            }
        }

        $(document).ready(function(){
            $("#shedSelect").css("display","none");
            $("form input[name='location']").click(function () {
                if ($('input[name=location]:checked').val() == "S" ) {
                    $("#shedSelect").slideDown("fast"); //Slide Down Effect
                } else {
                    $("#shedSelect").slideUp("fast");  //Slide Up Effect
                }
            });
        })
    </script>
{% endblock %}

{% block auth-content %}
    <div class="auth-box" style="margin-top: 10px;">
        <form enctype="multipart/form-data" action="." method="post">
            {% csrf_token %}

            <div class="form-group">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12"><h3>Add a New Tool</h3></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" >
                            <label for="id_picture">Upload a picture of the tool</label>
                            <input  type="file" accept="image/*" name="picture" onchange="imagePreview(this)" />
                            <div id="toolThumbnail" class="thumbnail" style=" display: none ">
                                <img id="thumbnail" src="">
                            </div>
                            <p class="formErrorMessage">{{ form.picture.errors|striptags }}</p>
                            <div class="spacer-20"></div>


                            <label for="id_name">Enter the name of your tool</label>
                            <div class="{% if form.name.errors %} has-error{% endif %}">
                                {{ form.name|add_attrs:"{'class':'form-control','placeholder':'Example: Scissor'}" }}
                            </div>
                            <p class="formErrorMessage">{{ form.name.errors|striptags }}</p>
                            <div class="spacer-20"></div>

                            <label for="id_category">Please select the appropriate category for your tool</label>
                            {{ form.category }}
                            <p class="formErrorMessage">{{ form.category.errors|striptags }}</p>
                            <div class="spacer-20"></div>

                            <div {% if not sheds %} style="display: none" {% endif %}>
                                <div class="locationChoices">
                                    <label for="id_location">Where would you like the tool to be shared from?</label>
                                    {{ form.location }}
                                    <fieldset>
                                        <div id="shedSelect" class="formset">
                                            <label for="shedChoice"> Which shed?</label>
                                            <br>
                                            <select name="shedChoice" id="shedChoice">
                                                {% for shed in sheds %}
                                                    <option value="{{ shed.id }}">{{ shed }}: {{ shed.address.apt_num }} {{ shed.address.street }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>
                                <p class="formErrorMessage">{{ form.location.errors|striptags }}</p>
                                <div class="spacer-20"></div>
                            </div>

                            {% if not sheds %}
                                <label>Where would you like the tool to be shared from?</label><br>
                                <input type="radio" name="locRadio" value="homeRadio" id="homeRadio" checked="checked"><label for ="homeRadio"> Home </label><br>
                                <div style="pointer-events: none; color: gray">
                                    <input type="radio" name="locRadio" value="shedRadio" id="shedRadio"><label for ="shedRadio"> Shed </label>
                                    <p>Currently, there are no sheds in your share zone.</p>
                                </div>
                                <div class="spacer-20"></div>
                            {% endif %}

                            <label>Please accept the default pickup arrangements or specify a new one for this tool</label>
                            <div class="{% if form.pickupArrangement.errors %} has-error{% endif %}">
                                {{ form.pickupArrangement |add_attrs:"{'class':'form-control no-resize','rows':'3'}"}}
                            </div>
                            <p class="formErrorMessage">{{ form.pickupArrangement.errors|striptags }}</p>
                            <div class="spacer-20"></div>

                            <label>Please add a detailed description of the tool</label>
                            <div class="{% if form.description.errors %} has-error{% endif %}">
                                {{ form.description|add_attrs:"{'class':'form-control no-resize','rows':'8','placeholder':'Example: Fiskars brand 8 inch scissors with red plastic handles. Minor scuff marks on thumb hole.'}" }}
                            </div>
                            <p class="formErrorMessage">{{ form.description.errors|striptags }}</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{% url "toolManagement:toolbox" %}" class="btn btn-default" role="button">Cancel</a>
                    <button type="submit" class="btn btn-primary">Add Tool</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}