{% extends "auth_base.html" %}

{% block title %}Request Rejected{% endblock %}

{% block RequestsNav %} active {% endblock %}

{% block auth-content %}
    <div class="alert alert-fail" role="alert">
        <p><strong>Please</strong> leave a comment for reject</p>
        <form action="{% url 'rejectmessage' reservation.pk %}" method="post" >
                    {% csrf_token %}
            Message: <input type="text" name="message" required>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
    <a type="button" class="btn btn-link" href="{% url "reservation" %}">Back</a>
{% endblock %}