{% extends "auth_base.html" %}

{% block title %}Reservations{% endblock %}

{% block RequestsNav %} active {% endblock %}

{% block auth-content %}
<h1 class="page-header">Reservation History</h1>


<div class="spacer-50"></div>
{% if reservations1 %}
<table class="table table-striped">
    <thead>
    <h3>Reject Requests</h3>
    <tr>
        <th>Tool Name</th>
        <th>Requested By</th>
        <th>From</th>
        <th>To</th>
        <th>Message</th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations1 %}
    <tr>
        <td>{{ reservation.tool.name }}</td>
        <td>{{ reservation.user.get_full_name }}</td>
        <td>{{ reservation.from_date }}</td>
        <td>{{ reservation.to_date }}</td>
        <td>{{ reservation.message }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
    You have no <strong>Reject Requests History</strong> for Reservation.
</div>
{% endif %}

 <div class="spacer-50"></div>
{% if reservations2 %}
<table class="table table-striped">
    <thead>
    <h3>Approved Requests</h3>
    <tr>
        <th>Tool Name</th>
        <th>Requested By</th>
        <th>From</th>
        <th>To</th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations2 %}
    <tr>
        <td>{{ reservation.tool.name }}</td>
        <td>{{ reservation.user.get_full_name }}</td>
        <td>{{ reservation.from_date }}</td>
        <td>{{ reservation.to_date }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
    You have no <strong>Approved Requests History</strong> for Reservation.
</div>
{% endif %}

<div class="spacer-50"></div>
{% if reservations3 %}
<table class="table table-striped">
    <thead>
    <h3>Cancel Requests</h3>
    <tr>
        <th>Tool Name</th>
        <th>Requested By</th>
        <th>From</th>
        <th>To</th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations3 %}
    <tr>
        <td>{{ reservation.tool.name }}</td>
        <td>{{ reservation.user.get_full_name }}</td>
        <td>{{ reservation.from_date }}</td>
        <td>{{ reservation.to_date }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
    You have no <strong>Cancel Requests History</strong> for Reservation.
</div>



{% endif %}






{% endblock %}