{% extends "auth_base.html" %}
{% block title %}Reservations{% endblock %}
{% block RequestsNav %} active {% endblock %}
{% block auth-content %}
    <h1 class="page-header">Reservation History</h1>
    <div class="container">
        {% if reservations1 or reservation2 or reservation3 %}
            {% if reservations3 %}
                <div class="spacer-15"></div>
                <h3>Cancelled Reservations</h3>
                <div class="spacer-10"></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tool Name</th>
                        <th>Tool Owner</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations3 %}
                        <tr>
                            <td>{{ reservation.tool.name }}</td>
                            <td>{{ reservation.tool.owner.get_full_name }}</td>
                            <td>{{ reservation.from_date }}</td>
                            <td>{{ reservation.to_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="spacer-30"></div>
            {% endif %}
            {% if reservations1 or reservation2 %}
                <div class="spacer-15"></div>
                {% if reservations1 %}
                    <h3>Rejected Reservations</h3>
                    <div class="spacer-10"></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tool Name</th>
                            <th>Requested By</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations1 %}
                            <tr>
                                <td>{{ reservation.tool.name }}</td>
                                <td>{{ reservation.user.get_full_name }}</td>
                                <td>{{ reservation.from_date }}</td>
                                <td>{{ reservation.to_date }}</td>
                                <td>{{ reservation.message }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <div class="spacer-10"></div>
                {% if reservations2 %}
                    <h3>Approved Reservations</h3>
                    <div class="spacer-10"></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tool Name</th>
                            <th>Requested By</th>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations2 %}
                            <tr>
                                <td>{{ reservation.tool.name }}</td>
                                <td>{{ reservation.user.get_full_name }}</td>
                                <td>{{ reservation.from_date }}</td>
                                <td>{{ reservation.to_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="alert alert-info" role="alert">
                You do not have a reservation history yet.
            </div>
        {% endif %}
    </div>
{% endblock %}