{% extends "auth_base.html" %}
{% block title %}Outgoing Requests{% endblock %}
{% block RequestsNav %} active {% endblock %}
{% block auth-content %}
    <h1 class="page-header">Outgoing Requests</h1>
    <div class="container">
        {% if reservations %}
            <div class="spacer-15"></div>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-5">Tool Name</th>
                    <th class="col-md-3">Tool owner</th>
                    <th class="col-md-2">From</th>
                    <th class="col-md-2">To</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td class="vert-align">{{ reservation.tool.name }}</td>
                        <td class="vert-align">{{ reservation.tool.owner }}</td>
                        <td class="vert-align">{{ reservation.from_date }}</td>
                        <td class="vert-align">{{ reservation.to_date }}</td>
                        <td class="vert-align {% if reservation.status == 'A' %}success{% else %}info{% endif %}">
                            {{ reservation.get_status_display }}
                        </td>
                        <td class="vert-align {% if reservation.status == 'A' %}success{% else %}info{% endif %}">
                            <form action="{% url 'cancel' reservation.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Cancel</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if reservations.paginator.num_pages >  1 %}
                <div class="row text-center">
                    <div class="col-sm-12">
                        <ul class="pagination">
                            <li>
                                <a href="?page=1"> &laquo; First Page </a>
                            </li>
                            {% if reservations.has_previous %}
                                <li>
                                    <a href="?page={{ reservations.previous_page_number }}"> &lsaquo;
                                        Previous </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href=""> &lsaquo; Previous </a>
                                </li>
                            {% endif %}

                            <li>
                                <a class="pageTracker"> Page {{ reservations.number }}
                                    of {{ reservations.paginator.num_pages }} </a>
                            </li>

                            {% if reservations.has_next %}
                                <li>
                                    <a href="?page={{ reservations.next_page_number }}"> Next &rsaquo; </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href=""> Next &rsaquo; </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="?page={{ reservations.paginator.num_pages }}"> Last Page &raquo; </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info" role="alert">
                You have not yet requested to borrow a tool. Click <a href="{% url "browsetool" %}">here</a> to see
                the tools being shared in your neighborhood.
            </div>
        {% endif %}
    </div>
{% endblock %}