{% extends "auth_base.html" %}
{% block title %}Reservations{% endblock %}
{% block RequestsNav %} active {% endblock %}
{% block auth-content %}
    <h1 class="page-header">Requests From Other Users</h1>
    <div class="spacer-20"></div>
    <div class="container">
        {% if reservations %}
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-lg-2">Tool Name</th>
                            <th class="col-lg-1">Requested By</th>
                            <th class="col-lg-1">From</th>
                            <th class="col-lg-1">To</th>
                            <th class="col-lg-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td class="vert-align">{{ reservation.tool.name }}</td>
                                <td class="vert-align">{{ reservation.user.get_full_name }}</td>
                                <td class="vert-align">{{ reservation.from_date }}</td>
                                <td class="vert-align">{{ reservation.to_date }}</td>
                                <td>
                                    <form action="{% url 'approve' reservation.pk %}" method="POST" class="pull-right">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Approve</button>
                                        <a href="{% url "reject" reservation.pk %}" class="btn btn-link">Reject</a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if reservations.paginator.num_pages >  1 %}
                <div class="row text-center toolPaginator">
                    <div class="col-sm-12">
                        <ul class="pagination">
                            <li>
                                <a href="?page=1"> &laquo; First Page </a>
                            </li>
                            {% if reservations.has_previous %}
                                <li>
                                    <a href="?page={{ reservations.previous_page_number }}"> &lsaquo; Previous </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href=""> &lsaquo; Previous </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="pageTracker"> Page {{ reservations.number }}
                                    of {{ reservations.paginator.num_pages }} </a>
                            </li>
                            {% if reservations.has_next %}
                                <li>
                                    <a href="?page={{ reservations.next_page_number }}"> Next &rsaquo; </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href=""> Next &rsaquo; </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="?page={{ reservations.paginator.num_pages }}"> Last Page &raquo; </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info" role="alert">
                You do not have requests from other users
            </div>
        {% endif %}
    </div>
    <h1 class="page-header">Requests Approved which is currently Active</h1>
    <div class="spacer-20"></div>
    <div class="container">
        {% if reservations %}
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-lg-2">Tool Name</th>
                        <th class="col-lg-1">Requested By</th>
                        <th class="col-lg-1">From</th>
                        <th class="col-lg-1">To</th>
                        <th class="col-lg-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations1 %}
                    <tr>
                        <td class="vert-align">{{ reservation.tool.name }}</td>
                        <td class="vert-align">{{ reservation.user.get_full_name }}</td>
                        <td class="vert-align">{{ reservation.from_date }}</td>
                        <td class="vert-align">{{ reservation.to_date }}</td>
                        <td>
                            <form action="{% url 'cancel' reservation.pk %}" method="POST">
                                {% csrf_token %}

                                <button type="submit" class="btn btn-primary">Cancel</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>

{% endblock %}