{% extends "auth_base.html" %}

{% block title %}All Sheds {% endblock %}

{% block auth-content%}

<div class="container">
<div class="">
    <a href ="{% url 'makeShed' %}"><button type = "button" class = "btn btn-primary">Create New Shed</button></a>
</div>

<!-- shed listing -->
<div class = "row">

    {% for membership in membership %}
    <div class="">
    <div class = "">
        <!-- heading -->
        <div class="">
            <h1>
                {% if membership.shed.isPrivate %}

                {% endif %}
            <a href =" {%  url 'makeShed' membership.shed.id %} ">
                {{ membership.shed.name }}
            </a>
            </h1>
        </div>

    <!-- body or description of shed -->

    <div class="">
        <p>{{ membership.location.street }}</p>
    </div>

    </div>

    </div>
        {% empty %}
        <div>
        <h3 class=""> You have no sheds :'( Have an hassle free sharing experience </h3>
        </div>
    {% endfor %}
</div>

</div>
{% endblock %}