{% extends "auth_base.html" %}

{% block title %} Shed Creation {%  endblock %}

{% block content %}
		
{#		<h1>#}
{#          Create a Shed#}
{#		</h1>#}
{##}
{#  		<form action="" method="post">#}
{#			{% csrf_token %}#}
{#			<table>#}
{#				{{ f }}#}
{#			</table>#}
{#			<hr>#}
{#      		<input type="submit" class="btn btn-primary" value="Create the Shed">#}
{#  		</form>#}

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post" action="shedregister.html">
                        {% csrf_token %}
                        {{ shed_form }}
                        {{ address_form }}
                        <input type="submit" value="save" class="btn btn-primary btn-block btn-lg">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}