{% extends "auth_base.html" %}

{% load staticfiles %}

{% block title %}Return Borrowed Tools{% endblock %}

{% block ToolsNav %} active {% endblock %}

{% block auth-content %}
    <h1 class="page-header">Return Borrowed Tools</h1>

    <h3 class="sub-header">Tools you currently borrow</h3>

    <div class="container">
        <div class="row">
            {% for reservation in reservations %}
                <div class="toolList">
                    <div class="col-sm-2">
                        {% if reservation.status == 'AC' or reservation.status == 'OV' %}
                            <div class="text-center">
                                <form action="{% url "initiate_return" reservation.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Initiate Return</button>
                                </form>
                            </div>
                            <div class="spacer-15"></div>
                        {% else %}
                            <div class="spacer-50"></div>
                        {% endif %}
                        <figure>
                            <div id="toolThumbnail">
                                <a href="{% url "toolManagement:viewTool" reservation.tool.id %}" class="thumbnail">
                                    <div class="tool_status_label">
                                        {% if reservation.status == 'O' %}
                                            <span class="label label-danger toolstatus">OVERDUE</span>
                                            <span class="tooltips">Tool is overdue! Please return it as soon as possible.</span>
                                        {% elif reservation.status == 'AC' %}
                                            {% with reservation.days_left as days_left %}
                                                {% if days_left == 1 %}
                                                    <span class="label label-warning toolstatus"> Due Today</span>
                                                    <span class="tooltips">Tool is due today. Please initiate return as soon as possible.</span>
                                                {% else %}
                                                    <span class="label label-success toolstatus">Due in {{ days_left }} days</span>
                                                    <span class="tooltips">Tool is due in {{ days_left }} days</span>
                                                {% endif %}
                                            {% endwith %}
                                        {% elif reservation.status == 'RI' %}
                                            <span class="label label-info toolstatus">Return Initiated</span>
                                            <span class="tooltips">Waiting for the owner of the tool to acknowledge.</span>
                                        {% endif %}
                                    </div>
                                    <img class="img-square" src="{{ reservation.tool.picture.url }}"
                                         alt="{{ reservation.tool.name }}">
                                </a>
                            </div>
                            <figcaption>{{ reservation.tool.name }}</figcaption>
                        </figure>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    You are not borrowing any tools currently.
                    <br><br>
                    Would you like to <a href="/browsetool"><strong>browse for tools?</strong></a>
                </div>
            {% endfor %}
        </div>
        {% if reservations.paginator.num_pages >  1 %}
            <div class="row text-center toolPaginator">
                <div class="col-sm-12">
                    <ul class="pagination">
                        <li>
                            <a href="?page=1"> &laquo; First Page </a>
                        </li>
                        {% if reservations.has_previous %}
                            <li>
                                <a href="?page={{ reservations.previous_page_number }}"> &lsaquo; Previous </a>
                            </li>
                        {% else %}
                            <li>
                                <a href=""> &lsaquo; Previous </a>
                            </li>
                        {% endif %}

                        <li>
                            <a class="pageTracker"> Page {{ reservations.number }}
                                of {{ reservations.paginator.num_pages }} </a>
                        </li>

                        {% if reservations.has_next %}
                            <li>
                                <a href="?page={{ reservations.next_page_number }}"> Next &rsaquo; </a>
                            </li>
                        {% else %}
                            <li>
                                <a href=""> Next &rsaquo; </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="?page={{ reservations.paginator.num_pages }}"> Last Page &raquo; </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

