{% extends "auth_base.html" %}

{% block title %}Tool Details{% endblock %}

{% block auth-content%}
    <div class="tool_details">
        <h2><strong>{{ tooldata.name }}</strong></h2>

        <div class="tool_details_left">
            <div class="tool_details_status">
                {% if tooldata.status == 'A' %}
                    <span class="label label-success">Tool Avaliable!</span>
                {% elif tooldata.status == 'D' %}
                    <span class="label label-danger">Deactivated</span>
                {% elif tooldata.status == 'L' %}
                    <span class="label label-warning">Currently Lent Out</span>
                {% endif %}
            </div>
            <img class="thumbnail tool_details_pic" src="{{tooldata.picture.url}}" alt="{{tooldata.name}}"/>
        </div>

        <div class="tool_details_desc">
            <span><strong> Category: &nbsp</strong>{{ tooldata.get_category_display }}</span>
            <div class="spacer-20"></div>

            <span><strong> Tool Status: &nbsp</strong>{{ tooldata.get_status_display}}</span>
            <div class="spacer-20"></div>

            <span><strong> Shared From: &nbsp</strong>{{ tooldata.get_location_display }}</span>
            <div class="spacer-20"></div>

            <span><strong> Tool Owner: &nbsp</strong>{{ tooldata.owner.get_full_name }}</span>
            <div class="spacer-30"></div>

            <span><strong> Tool Description </strong></span>
            <p>{{ tooldata.description }}</p>
            <div class="spacer-10"></div>

            <span><strong> Pickup Arrangements </strong></span>
            <p>{{ tooldata.pickupArrangement }}</p>
            <div class="spacer-50"></div>
            <div class="spacer-20"></div>

            <div class="tool_details_btn">
                {% if tooldata.shed.owner == request.user %}
                    <a href="{% url "toolManagement:updateTool" tooldata.id %}" class="btn btn-primary">Update Tool</a>
                {% endif %}
                {% if tooldata.status == 'A' %}
                    <a href="/tool/{{ tooldata.id }}/borrow" class="btn btn-primary">Borrow Tool</a>
                {% elif tooldata.status == 'L'%}
                    <a href="/tool/{{ tooldata.id }}/borrow" class="btn btn-primary">Reserve Tool</a>
                {% endif %}
            </div>
        </div>

        <div class="suggestions">
            <div class="row">
                <h3 > Other similar tools in your share zone </h3>
                {% for tool in similartools %}
                    <div class="toolList">
                        <div class="col-sm-2">
                            <div class="toolStatusIndicator">
                                {% if tool.status == 'D' %}
                                    <p class="tooltips label label-danger">D<span>Tool deactivated</span></p>
                                {% elif tool.status == 'L' %}
                                    <p class="tooltips label label-warning">L<span>Tool is lent out</span></p>
                                {% else %}
                                    <p class="tooltips label label-success">A<span>Tool is active</span></p>
                                {% endif %}
                            </div>
                            <figure>
                                <div id="toolThumbnail" >
                                    <a href="{% url "toolManagement:viewTool" tool.id %}" class="thumbnail">
                                        <img class="img-square" src="{{ tool.picture.url }}" alt="{{ tool.name }}"/>
                                    </a>
                                </div>
                                <figcaption>{{ tool.name }}</figcaption>
                            </figure>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-info" role="alert">
                        Sorry, there are no other similar tools.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}