{% extends "auth_base.html" %}

{% block title %}Tool Details{% endblock %}

{% block auth-content %}
    <div class="auth-box">
        <img class="img-square" src="{{tooldata.picture.url}}" alt="{{tooldata.name}}" style="width: 100%; height: 350px;"/>

        <p> Name of tool: {{ tooldata.name }}</p>
        <p> Category: {{ tooldata.get_category_display }}</p>
        <p> Tool Status: {{ tooldata.get_status_display}}</p>
        <p> Sharing Location: {{ tooldata.get_location_display }}</p>
        <p> Owner: {{ tooldata.owner.get_full_name }}</p>
        <p> Tool Description: {{ tooldata.description }}</p>
        <p> Pickup Arrangements: {{ tooldata.pickupArrangement }}</p>

        {% if not isToolOwner %}
            <a href="/tool/{{ tooldata.id }}/borrow">Borrow</a>
        {% else %}
            <a href="/tool/{{ tooldata.id }}/update_tool">Update</a>
        {% endif %}
    </div>

{% endblock %}