{% extends "auth_base.html" %}

{% block title %}Tool Details{% endblock %}

{% block auth-content %}
    <div class="tool_details">
        <h2><strong>{{ tooldata.name }}</strong></h2>
        <div class="tool_details_left">
            <div class="tool_details_status">
                {% if tooldata.status == 'A' %}
                    {% if tooldata.get_days_until_available == 0 %}
                        <span class="label label-success"> Available! </span>
                    {% elif tooldata.get_days_until_available == 1 %}
                        <span class="label label-warning"> Available starting tomorrow </span>
                    {% elif tooldata.get_days_until_available > 1 %}
                        <span class="label label-warning"> Available starting {{ tooldata.get_next_available_date }} </span>
                    {% endif %}
                {% elif tooldata.status == 'D' %}
                    <span class="label label-danger">Deactivated</span>
                {% endif %}
            </div>
            <img class="thumbnail tool_details_pic" src="{{ tooldata.picture.url }}" alt="{{ tooldata.name }}"/>
        </div>
        <div class="tool_details_desc">
            <span><strong>Category: &nbsp</strong>{{ tooldata.get_category_display }}</span>
            <div class="spacer-5"></div>
            <span><strong>Owner: &nbsp</strong>{{ tooldata.owner.get_full_name }}</span>
            <div class="spacer-10"></div>
            <span><strong>Tool Description</strong></span>
            <p>{{ tooldata.description }}</p>
            <div class="spacer-10"></div>
            <span><strong> Pickup Location</strong></span>
            <p>{{ tooldata.address.get_multi_line }}</p>
            <div class="spacer-10"></div>
            <span><strong> Pickup Arrangements</strong></span>
            <p>{{ tooldata.pickupArrangement }}</p>
            <div class="tool_details_btn">
                {% if tooldata.location == 'S' %}
                    <a href="/tool/{{ tooldata.id }}/borrow" class="btn btn-primary">Borrow Tool</a>
                    {% if tooldata.owner == request.user or tooldata.shed.owner == request.user %}
                        <a href="{% url "toolManagement:updateTool" tooldata.id %}" class="btn btn-primary">Update
                            Tool</a>
                    {% endif %}
                {% elif tooldata.location == 'H' %}
                    {% if tooldata.owner != request.user %}
                        <a href="/tool/{{ tooldata.id }}/borrow" class="btn btn-primary">Borrow Tool</a>
                    {% else %}
                        <a href="{% url "toolManagement:updateTool" tooldata.id %}" class="btn btn-primary">Update
                            Tool</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="suggestions">
            <div class="row">
                <h3>Similar tools in your community</h3>
                {% for tool in similartools %}
                    <div class="toolList">
                        <div class="col-sm-2">
                            <figure>
                                <div id="toolThumbnail">
                                    <a href="{% url "toolManagement:viewTool" tool.id %}" class="thumbnail">
                                        <div class="tool_status_label">
                                            {% if tool.get_days_until_available == 0 %}
                                                <span class="label label-success toolstatus"> Available </span>
                                                <span class="tooltips">Tool is available</span>
                                            {% elif tool.get_days_until_available == 1 %}
                                                <span class="label label-warning toolstatus"> {{ tool.get_next_available_date }} </span>
                                                <span class="tooltips">Tool will be available starting tomorrow</span>
                                            {% elif tool.get_days_until_available > 1 %}
                                                <span class="label label-warning toolstatus"> {{ tool.get_next_available_date }} </span>
                                                <span class="tooltips">Tool will be available in {{ tool.get_days_until_available }} days</span>
                                            {% endif %}
                                        </div>
                                        <img class="img-square" src="{{ tool.picture.url }}" alt="{{ tool.name }}"/>
                                    </a>
                                </div>
                                <figcaption>{{ tool.name }}</figcaption>
                            </figure>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-info" role="alert">
                        Sorry, there are no other similar tools.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}