{% extends "auth_base.html" %}

{% load staticfiles %}

{% block title %}Toolbox{% endblock %}

{% block ToolsNav %} active {% endblock %}

{% block auth-content %}
    <h1 class="page-header">Toolbox: Manage Tools</h1>

    <h3 class="sub-header">
        {% if filter == 'hometools' %}
            Showing only tools shared from home
        {% elif filter == 'shedtools' %}
            Showing only tools shared from a shed
        {% else %}
            Showing all your tools
        {% endif %}
    </h3>

    <div class="container">
        <div class="row">

            <div class="regToolBtn">
                <a href="{% url "toolManagement:registerTool" %}"><button type="button" class="btn btn-primary">Add a Tool</button></a>
            </div>
            {% if myTools %}
                <div class="toolFilters">
                    <a href="{% url "toolManagement:toolbox" %}"> Show All Tools </a></a>
                    <a href="{% url "toolManagement:hometools" %}"> Show Home Tools </a></a>
                    <a href="{% url "toolManagement:shedtools" %}"> Show Shed Tools </a></a>
                </div>
            {% endif %}

            {% for tool in myTools %}
                <div class="toolList">
                    <div class="col-sm-2">
                        <figure>
                            <div id="toolThumbnail" >
                                <a href="{% url "toolManagement:viewTool" tool.id %}" class="thumbnail {% if tool.status == 'D' %}Inactive{% endif %}">
                                    <div class="tool_status_label">
                                        <span class="label {{ tool.get_label_type_owner }} toolstatus"> {{ tool.get_status_label_owner }} </span>
                                    </div>
                                    <img class="img-square" src="{{ tool.picture.url }}" alt="{{ tool.name }}"/>
                                </a>
                            </div>
                            <figcaption>{{ tool.name }}</figcaption>
                        </figure>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    You have not registered any tools.
                    <br><br>
                    Would you like to <a href="{% url "toolManagement:registerTool" %}"><strong>add a tool?</strong></a>
                </div>
            {% endfor %}
        </div>

        {% if myTools.paginator.num_pages >  1 %}
            <div class="row text-center toolPaginator">
                <div class="col-sm-12">
                    <ul class="pagination">
                        <li>
                            <a href="?page=1"> &laquo; First Page </a>
                        </li>
                        {% if myTools.has_previous %}
                            <li>
                                <a href="?page={{ myTools.previous_page_number }}"> &lsaquo; Previous </a>
                            </li>
                        {% else %}
                            <li>
                                <a href=""> &lsaquo; Previous </a>
                            </li>
                        {% endif %}

                        <li>
                            <a class = "pageTracker"> Page {{ myTools.number }} of {{ myTools.paginator.num_pages }} </a>
                        </li>

                        {% if myTools.has_next %}
                            <li>
                                <a href="?page={{ myTools.next_page_number }}"> Next &rsaquo; </a>
                            </li>
                        {% else %}
                            <li>
                                <a href=""> Next &rsaquo; </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="?page={{ myTools.paginator.num_pages }}"> Last Page &raquo; </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

