{% extends "auth_base.html" %}
{% block title %}Update Tool{% endblock %}
{% load filters %}
{% load staticfiles %}
{% block ToolsNav %} active {% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        function imagePreview(fileInput) {
            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/;
                if (!file.type.match(imageType)) {
                    continue;
                }
                var img=document.getElementById("thumbnail");
                var toolPreview=document.getElementById("toolThumbnail");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function(aImg) {
                    return function(e) {
                        toolPreview.style.display = "block";
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
            }
        }

        $(document).ready(function(){
            $("#shedSelect").css("display","none");
            $("form input[name='location']").click(function () {
                if ($('input[name=location]:checked').val() == "S" ) {
                    $("#shedSelect").slideDown("fast"); //Slide Down Effect
                } else {
                    $("#shedSelect").slideUp("fast");  //Slide Up Effect
                }
            });
        })
    </script>

    <script type="text/javascript" src="{% static "scripts/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript">
        var unavailable_dates = {{ blackoutform.unavailable_dates|safe }};

        $(document).ready(function () {
            $('.datepicker').datepicker({autoclose: true, beforeShowDay: onBeforeShowDay, startDate: new Date()});

            $('#{{ blackoutform.blackoutstart.auto_id }}').datepicker()
                    .on('changeDate', function (e) {
                        $('#{{ blackoutform.blackoutend.auto_id }}')
                                .datepicker('setStartDate', $('#{{ blackoutform.blackoutstart.auto_id }}').val());
                    });
        });

        function onBeforeShowDay(date) {
            for (var index = 0; index < unavailable_dates.length; index++) {
                sd = new Date(unavailable_dates[index].start);
                ed = new Date(unavailable_dates[index].end);
                ed.setDate(ed.getDate() + 1);
                if (sd <= date && date <= ed) {
                    return {'enabled': false, 'classes': 'unavailable', 'tooltip': 'Tool is not available on this day.'};
                }
            }
            return {'enabled': true, 'classes': '', 'tooltip': ' '};
        }
    </script>
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static "styles/datepicker3.css" %}" rel="stylesheet"/>
{% endblock %}
{% block head %}
    <style type="text/css">
        .unavailable {
            color: #a94442 !important;
            opacity: 0.5;
        }
    </style>
{% endblock %}

{% block auth-content %}
    <h1 class = 'page-header'>View/Update Tool Details</h1>
    <div class="spacer-10"></div>
    <div class="tool_details">
        <img class="thumbnail tool_details_pic" src="{{tool.picture.url}}" alt="{{tool.name}}"/>

        <div class="thumbnail tool_details_desc">
            <form enctype="multipart/form-data" action="." method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12" >
                                <div class="spacer-10"></div>
                                <label for="id_picture">Keep the existing picture or upload a new picture.</label>
                                <input  type="file" accept="image/*" name="picture" onchange="imagePreview(this)" />
                                <div id="toolThumbnail" class="thumbnail" style=" display: none ">
                                <img id="thumbnail" src="">
                                </div>
                                <p class="formErrorMessage">{{ updateform.picture.errors|striptags }}</p>
                                {{ updateform.picture.errors }}
                                <div class="spacer-10"></div>

                                <label for="id_name">Name of the tool</label>
                                    <div class="{% if updateform.name.errors %} has-error{% endif %}">
                                        {{ updateform.name|add_attrs:"{'class':'form-control'}" }}
                                    </div>
                                <p class="formErrorMessage">{{ updateform.name.errors|striptags }}</p>
                                <div class="spacer-10"></div>


                                <label for="id_category">Tool category</label><br>
                                    {{ updateform.category }}
                                <p class="formErrorMessage">{{ updateform.category.errors|striptags }}</p>
                                <div class="spacer-10"></div>


                                <div class="locationChoices">
                                    <label for="id_location">Share the tool from:</label>
                                        {{ updateform.location }}
                                    <fieldset>
                                        <div id="shedSelect" class="formset">
                                            <label> Which shed?</label>
                                            </br>
                                            <select>
                                              <option>Shed 1 at 123 Lane</option>
                                              <option>Shed 2 at 610 Blvd</option>
                                              <option>Shed 3 at 1600 Pennsylvania Ave NW</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>
                                <p class="formErrorMessage">{{ updateform.location.errors|striptags }}</p>
                                <div class="spacer-10"></div>


                                <label>Tool pickup arrangement</label>
                                    <div class="{% if updateform.pickupArrangement.errors %} has-error{% endif %}">
                                        {{ updateform.pickupArrangement |add_attrs:"{'class':'form-control no-resize','rows':'3'}"}}
                                    </div>
                                <p class="formErrorMessage">{{ updateform.pickupArrangement.errors|striptags }}</p>
                                <div class="spacer-10"></div>

                                <label>Tool description</label>
                                    <div class="{% if updateform.description.errors %} has-error{% endif %}">
                                        {{ updateform.description|add_attrs:"{'class':'form-control no-resize','rows':'8'}" }}
                                    </div>
                                <p class="formErrorMessage">{{ updateform.description.errors|striptags }}</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="pull-right">
                        <a href="{% url "toolManagement:toolbox" %}" class="btn btn-default" role="button">Cancel</a>
                        <button type="submit" class="btn btn-primary" value="updatetool" name="updatetool">Update Tool</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="thumbnail tool_details_desc">
            <form role="form" action="." method="post">
                {% csrf_token %}
                {% load errors %}
                {% errors blackoutform %}
                <div class="form-group">
                    <div class="container-fluid">
                        <h4>Add Blackout Dates</h4>
                        <div class="spacer-20"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>From</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ blackoutform.blackoutStart|add_attrs:"{'class':'form-control datepicker','placeholder':'mm/dd/yyyy'}" }}
                            </div>
                        </div>
                        <div class="spacer-10"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>To</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ blackoutform.blackoutEnd|add_attrs:"{'class':'form-control datepicker','placeholder':'mm/dd/yyyy'}" }}
                            </div>
                        </div>
                        <div class="spacer-15"></div>
                        <div class="row pull-right">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary" value="addblackout" name="addblackout">Add Blackout Date</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
